$crossHeight: 75px;
$crossWidth: 2px;

.gamefield {
  position: relative;
  border-right: 1px solid black;
  border-bottom: 1px solid black;

  &:nth-child(3n) {
    border-right: none;
  }

  &:nth-last-child(-n + 3) {
    border-bottom: none;
  }
}

.active-gamefield-cross {
  position: relative;

  &::after,
  &::before {
    content: "";
    position: absolute;
    width: $crossWidth;
    height: $crossHeight;
    top: 50%;
    left: 50%;
    background-color: orangered;
    transform-origin: center;
  }

  &::after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  &::before {
    transform: translate(-50%, -50%) rotate(45deg);
  }
}

.active-gamefield-circle {
  &::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    border: 2px solid blueviolet;
    transform-origin: center;
    transform: translate(-50%, -50%);
  }
}

.active-gamefield-transparent {
  &::before,
  &::after {
    opacity: 0.5;
  }
}
